---
title: Contract Verification
---

When a smart contract is verified in a block explorer, it means that the source code of the contract has been published
and matched to the compiled version on the blockchain enhancing transparency, as users can review the contract’s source
code to understand its functions and intentions.
